.ob-picker, .ob-picker__hd{
    font-size: 12px;
}

.ob-picker__action {
  &:first-child {
    text-align: left;
    color: #888;
  }
  &:last-child {
    text-align: right;
  }
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  color: #1aad19;
}