@import '../variables/default.scss';
@import '../mixins/index.scss';

.cr-back-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background-color: $color-brand;
  &__hide {
    display: none;
  }
}