$prefixCls: 'cr-pull-refresh';

.#{$prefixCls} {
  overflow: hidden;
  user-select: none;
  &__track {
    position: relative;
    height: 100%;
    transition-property: transform;
  }
  &-indicator {
    height: 36px;
    color: #969799;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
  }
  &-up {
    .#{$prefixCls}-indicator {
      margin-bottom: -36px;
    }
  }
  &-down {
    .#{$prefixCls}-indicator {
      margin-top: -36px;
    }
  }
}

.icon-loading {
  animation:myRotate 1s linear infinite;
}
@keyframes myRotate{
  0%{ -webkit-transform: rotate(0deg);}
  50%{ -webkit-transform: rotate(180deg);}
  100%{ -webkit-transform: rotate(360deg);}
}