

/**
 * 分类页样式
 */
.panel-header {
  display: flex;
  align-items: center;
  padding: 30px;
  height: 90px;
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #78A4FA;
    text-align: center;
    background: #fff;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.11);
    border-radius: 10px;

    .img {
      width: 18px;
      height: 18px;
    }
  }

  &__title {
    margin-left: 32px;
    color: #78A4FA;
    font-size: 18px;
    font-weight: bold;
  }
}

.panel-body {
  min-height: calc(100vh - 150px);
  background: #fff;
  box-shadow: 0 26px 163px 0 rgba(0, 0, 0, 0.11);
}

.component-list {
  margin: 10px 30px 20px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    @include hairline-bottom();

    .name {
      color: #1d1d26;
      font-size: 14px;
    }

    .ob-icon {
      color: #CCC;
    }
  }
}
