body {
  margin: 0;
}
#app {
	background-color: #f8f8f8;
	font-size: 14px;
}

.ob-frozen {
  position: fixed;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #f8f8f8;
}

/**
 * Example 样式
 */
.panel__content {
  .example-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .subitem {
      display: inline-block;
      margin-left: 24px;
    }

    &__desc {
      margin-bottom: 6px;
      color: #333;
      font-size: 12px;
    }
  }
}

.doc-body {
  min-height: calc(100vh - 145px);
  background: #fff;
  box-shadow: 0 26px 163px 0 rgba(0, 0, 0, 0.11);
  padding-bottom: 60px;
  padding-bottom: calc(constant(safe-area-inset-bottom) + 30px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 30px);
  padding-top: 1px;
  .panel {
    margin: 16px 0 28px;

    &__title {
      position: relative;
      margin-bottom: 25px;
      padding-left: 25px;
      color: #6a6a77;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 12px;
        top: 50%;
        margin-top: -10px;
        width: 1px;
        height: 20px;
        background-color: #6190e8;
        box-shadow: 0 3px 6px 0 rgba(97, 144, 232, 0.2);
        border-radius: 1px;
      }
    }

    &__content {
      padding: 0 10px;

      &.no-padding {
        padding: 0;
      }
    }
  }
}
