.row-page {
  .doc-body {
    padding: 15px;
  }
  .ob-flexbox-item {
    line-height: 30px;
    margin-bottom: 10px;
    background-color: #6190E8;
    text-align: center;
    color: #fff;
    background-clip: content-box;
    &:nth-child(2) {
      background-color: #78A4F4;
    }
  }
}