:root {
  --border-color: #ddd;
}
@media screen and (min-width: 750px) {
  .content {
    max-width: 60rem;
    padding: 0;
    margin: 0;
    margin-right: 100px;
    .iframe {
      position: absolute;
      right: 10px;
      z-index: 1;
      width: 375px;
      height: 667px;
    }
  }
  .code-box {
    width: calc(100vw - 20rem - 430px);
    max-width: 50rem;
  }
  .page {
    > .container {
      margin: 0;
      margin-left: 0;
      max-width: 60rem;
    }
  }
}

@media screen and (min-width: 1700px) {
  .page {
    > .container {
      margin: 0 auto;
      max-width: 60rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .content {
    .iframe {
      width: 100%;
      max-width: 375px;
      height: 667px;
    }
    .code-tabs {
      margin-top: 1rem;
    }
    .ob-back-top {
      right: 20px;
      bottom: 90px;
    }
  }
  .page {
    > .container {
      padding: 0;
    }
  }
}

[class*='language-'] {
  ::before {
    position: absolute;
    top: 5px;
    left: 5px;
    content: '';
    display: inline-block;
    width: 54px;
    height: 14px;
    background-image: url('/assets/images/code.svg');
    background-repeat: no-repeat;
  }
}

.code-box {
  .code-tabs {
    button {
      width: 80px;
      height: 30px;
      border: 0;
      outline: none;
      cursor: pointer;
    }
  }
  .language-vue, .language-tsx, .language-bash {
    position: relative;
    display: none;
    &::before {
      position: absolute;
      top: 5px;
      left: 5px;
      content: '';
      display: inline-block;
      width: 54px;
      height: 14px;
      background-image: url('/assets/images/code.svg');
      background-repeat: no-repeat;
    }
  }
  &.code-vue-active {
    .language-vue {
      display: block;
      &::after {
        content: 'vue';
        color: var(--c-white);
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
    .btn-vue {
      background-color: var(--c-brand);
      color: #fff;
    }
  }
  &.code-tsx-active {
    .language-tsx {
      display: block;
      &::after {
        content: 'tsx';
        color: var(--c-white);
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
    .btn-tsx {
      background-color: var(--c-brand);
      color: #fff;
      &:active {
        border: 0;
      }
    }
  }
}
