.page {
  background-color: #fff;
}

.example {
  margin-bottom: 15px;
  text-align: center;
}

.drawer-item {
  height: 40px;
  line-height: 40px;
  margin: 0 25px;
  color: #666;
  font-size: 16px;
  border-bottom: 1px solid #eee;
  position: relative;

  .at-icon {
    position: absolute;
    right: 5px;
    top: 25px;
  }

  .at-badge {
    position: absolute;
    right: 5px;
    top: 25px;

    .at-icon {
      position: static;
      margin-top: -45px;
    }
  }

  &--sub {
    font-size: 16px;
    margin-left: 50px;
    color: #999;
  }
}