.ob-slider {
  padding: 15px 18px;
  user-select: none;
}

.ob-slider__inner {
  position: relative;
  height: 2px;
  background-color: #e9e9e9;
}

.ob-slider__track {
  height: 2px;
  background-color: #1aad19;
  width: 0;
}

.ob-slider__handler {
  position: absolute;
  left: 0;
  top: 50%;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  margin-top: -14px;
  border-radius: 50%;
  background-color: #fff; // 固定色值
  box-shadow: 0 0 4px rgba(0,0,0,.2);
}


.ob-slider-box {
  display: flex;
  align-items: center;
  .ob-slider {
      flex: 1;
  }
  .slider-disabled {
    opacity: .7;
  }
}
.ob-slider-box__value {
  margin-left: 0.5em;
  min-width: 24px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 14px;
}